body {
  text-align: center;
}

#kuvaajaDiv {
  position: relative;
  background-color: #ebf1f3;
  border-style: outset;
  margin: 0 5%;
}

#koronaYleiskuva {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.infoBox {
  border-style: outset;
  background-color: #ebf1f3;
  flex: 1;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
}

.infoBox > div {
  background-color: #ebf1f3;
  width: 100%;
  height: 30%;
  vertical-align: middle;
}
.infoBox > div:first-child {
  background-color: #cacaca;
}
.infoBox > div:nth-child(2) {
  height: 50%;
  font-weight: bolder;
  font-size: large;
}
